<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#242943">
	<meta name="robots" content="ALL">
	<meta name="googlebot" content="index,follow">
	<meta name="description" content="جوینده داشن">
	<meta name="keywords" content="دانجو | جوینده دانش | مدرسه آنلاین">
	<link rel=canonical href=https://danjoo.ir/ >
	<meta property="og:site_name" content="دانجو">
	<meta property="og:type" content="website">
	<meta property="og:title" content="دانجو">
	<meta property="og:description" content="جوینده دانش">
	<meta property="og:url" content="https://danjoo.ir/">
	<meta property="og:image" content="/assets/images/favicon.jpg">
	<meta property="og:image:secure_url" content="/assets/images/favicon.png">
	<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.png" />
	<link rel="apple-touch-icon" href="/assets/images/favicon.png" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
</head>
